# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sistema_vial_ia

# Puertos COM Arduino
ARDUINO_SENSORES_PORT=COM3
ARDUINO_ACTUADORES_PORT=COM4
BAUDRATE=9600

# Agente
CICLO_INTERVALO_S=2
PROLOG_RULES_PATH=conocimiento/reglas_trafico.pl

# Visión por computadora
CAMARA_INDEX=0
